*{
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/7.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* Ana taşıyıcı özellikleri*/
.container{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding: 0 10%;
	color: white;
}

.navbar{
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	height: 100px;
	width: 100px;
	cursor: pointer;
	margin-top: 30px;
}

 .bi{
	font-size: 50px;
	cursor: pointer;
	margin-right: 30px;
	display: none;
 }

 .bi:hover{
	transform: scale(1.2);
	transition: .3s;
 }

 nav{
	flex: 1;
	text-align: right;
 }

 nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
 }

 nav ul li a{
	text-decoration: none;
	font-size: 20px;
	color: white;
	position: relative;
	display: block;
}

 nav ul li a::after{
	content: '';
	height: 2px;
	width: 0;
	background-color: red;
	bottom: -4px;
	left: 0;
	position: absolute;
 }

 nav ul li a:hover::after{
	width: 100%;
	transition: .3s;
 }

 .row{
	display: flex;
	height: 90%;
	align-items: center;
	overflow: scroll;
 }

 .col{
	flex-basis: 50%;
	margin-top: 20px;
 }

 h1{
	font-size: 100px;
 }
 h2{
	text-align: center;
	padding-top: 1px;
 }

 p{
	font-size: 15px;
	line-height: 20px;
 }

 button{
	color: white;
	font-size: 15px;
	height: 50px;
	width: 170px;
	background-color: transparent;
	border: solid rgb(108, 187, 240) 2px; 
	border-radius: 5px;
 	margin-top: 30px;
	cursor: pointer;
 }

 button:hover{
	background-color:rgb(108, 187, 240);
	border: solid rgb(28, 39, 70) 2px;
	color: rgb(28, 39, 70) ;
	transition: .3s;
	font-size: 17px;
	font-weight: bold;
 }

 .card{
	width: 250px;
	height: 300px;
	background-color: wheat;
	color: white;
	display: inline-block;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	border: solid rgb(108, 187, 240) 2px; 
	background-position: center;
	background-size: cover;
	transition: transform .5s;
 }


.card:hover{
	transform:translateY(-10px);
}

.card p, h2{
	text-shadow: 0 0 10px black;
	text-indent: 10px;
	padding: 7px;
}

.card1{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/deyrulzafaran-manastiri.jpg); 
}

.card2{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/mardin-meryem-ana-kilisesi.jpg); 
}

.card3{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/beyazsu.jpg); 
}
.card4{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/dara.jpg); 
}

 @media (max-width:768px) {
	nav{
		display: none;
	}

	.bi{
		display: block;
	}
	.row{
		display: block;
	}
	.card{
		width: 200px;
	}
 }

